body {
  font-family: sans-serif;
  margin: auto;
}

.navbar {
  background-color: #2a2d7c;
  border-radius: 0px 0px 15px 0px;
}

.navbar a {
  color: #ffffff;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #FFBF00;
}
